.section__tasksListItem {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.section__tasksList {
    list-style: none;
    background-color: white;
    margin: 0px;
    padding: 0;
}

.section__tasksListItem--hidden {
    display: none;
}

.section__tasksContainer {
    background-color: white;
    height: 60px;
}

.section__taskButton {
    height: 30px;
    align-self: center;
    width: 30px;
    border: none;
    padding: 0px;
    color: white;
    transition: 1s;
    flex-shrink: 0;
}

.section__task {
    flex-grow: 1;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.section__taskButton--checked {
    background-color: hsl(120, 100%, 25%);
}

.section__taskButton--checked:hover {
    background-color: hsl(120, 100%, 35%);
}

.section__taskButton--deleted {
    background-color: hsl(0, 100%, 50%);
}

.section__taskButton--deleted:hover {
    background-color: hsl(0, 100%, 60%);
}

.section__task--completed {
    text-decoration: line-through;
}